body {
    margin: 0;

    background: linear-gradient(90deg, #093637, #23074d, #093028);
    background-size: 300% 300%;
    animation: gradient 20s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0, 50%;
    }

    50% {
        background-position: 100%, 50%;
    }

    100% {
        background-position: 0, 50%;
    }
}

.Name {
    width: 500px;
    height: 80px;
    margin-left: 1.5%;
    margin-top: 20px;
}

.Logo {
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.Logo:hover {
    opacity: 0.8;
    filter: brightness(70%); /* Adjust the scale factor as desired */
}

.screen-links {
    list-style-type: none;
    margin-left: 72%;
    margin-top: -80px;
}

.li_link {
    display: inline-block; /* Display list items horizontally */
    margin: 30px;
    font-size: 23px;
    font-family: Monospace;
}

.link {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain image aspect ratio */
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.link:hover {
    opacity: 0.8;
    filter: brightness(70%); /* Adjust the scale factor as desired */
}

.image-container {
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
    max-width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}

#image1 {
    margin-left: 59%;
    margin-top: 135px;
}

#image2 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
}

#image3 {
    margin-left: 62%;
    margin-top: -10px;
}

.personal {
    margin-top: -27%;
    margin-bottom: 30px;
}

.personal-photo {
    border-radius: 50%;
    position: relative;
    width: 215px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: auto;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    text-align: center;
    font-family: Monospace, serif;
    font-size: 1em;
    color: #bababa;
    max-width: 750px;
}

.university {
    color: #007bff;
    text-decoration: none;
}

.university:hover {
    text-decoration: underline;
}

.div_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li_icon {
    display: inline-block;
    margin: 25px;
    font-size: 35px;
}

.social-icon {
    color: #c861ff;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.social-icon:hover {
    opacity: 0.8;
    filter: brightness(70%);
}

.div_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2.5%;
}

.footer_text {
    text-align: center;
    font-family: Monospace;
    font-size: 1em;
    color: #bababa;
}

.steam {
    color: #007bff;
    text-decoration: none;
}

.steam:hover {
    text-decoration: underline;
}

.version {
    display: flex;
    margin-left: 2.5%;
    margin-top: 9%;
}

.version_p {
    font-family: Monospace;
    font-size: 1.5em;
    color: #bababa;
}